{{#msg}}
    {{msg}}
{{/msg}}

<ol>
{{#records}}
    <li><time datetime="{{userdatecreated}}">{{userdatecreated}}</time></li>
    {{id}}
    {{courseid}}
    {{currentresults}}
    {{timecreated}}
    {{usercreated}}
    {{timemodified}}
    {{usermodified}}
{{/records}}
</ol>
